beautifulsoup4==4.14.2
bokeh==3.8.2
boto3==1.40.46
distributed==2025.9.1
html5lib==1.1
ipykernel==6.30.1
lxml==6.0.2
lz4==4.4.4
memory-profiler==0.61.0
modin==0.37.1
openpyxl==3.1.5
pipdeptree==2.28.0
polars==1.34.0
pyarrow==21.0.0
requests==2.32.5
s3fs==0.4.2
setuptools==80.9.0
